# DB
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DB=postgres
DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres?schema=public

# API
API_PORT=3000

# Frontend
FRONTEND_PORT=5173